/*General*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  background: linear-gradient(120deg, #f0f2f5, #e0e7ef);
  justify-content: center;
  display: flex;
  align-items: center;
  
}
.container {
  max-width: 400px;
  margin: 0 auto;
  align-items: center;
}
.inscription_content {
  box-shadow: 0px 4px 9px 6px black;
  background: #fff;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  
}

.inscription_content_form {
  
  align-items: center;
  flex-direction: column;
}
h2 {
  text-align: center;
  font-size: 30px;
}

form input {
  width: 100%;
  padding: 12px 5px;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid black;
}
.centrer_button{
  text-align: center;
}

#button_connexion {
  padding: 13px 50px;
  background-color: #007bff;
  border-radius: 10px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  color: white;
}
#button_connexion:hover{
  background-color: #0056b3;
}
#button_inscription {
  
  padding: 13px 50px;
  background-color: #007bff;
  border-radius: 10px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  color: white;
}
#button_inscription:hover{
  background-color: #0056b3;
}
.eyeTag{
  position: relative;
  
}
.icon_eye{
  position: absolute;
  width: 20px;
  cursor: pointer;
  right: 0;
  top: 25px;

}
.message_error{
  color: red;
}


/*Page d'acceuil */
#logout{
  padding: 20px 50px;
  color: white;
  background-color: #007bff;
  border-radius: 7px;
  text-decoration: none;
  font-weight: 900;
}
#logout:hover{
   background-color: #0056b3;
}