/*General*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  background: linear-gradient(120deg, #f0f2f5, #e0e7ef);
  justify-content: center;
  display: flex;
  align-items: center;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  align-items: center;
}
.inscription_content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.inscription_content_form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
h2 {
  font-size: 30px;
}

form input {
  width: 100%;
  padding: 12px 5px;
  margin: 15px;
  border-radius: 5px;
}
#button_connexion {
  padding: 13px 50px;
  background-color: #007bff;
  border-radius: 10px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  color: white;
}
#button_connexion:hover{
  background-color: #0056b3;
}
#button_inscription {
  padding: 13px 50px;
  background-color: #007bff;
  border-radius: 10px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  color: white;
}
#button_inscription:hover{
  background-color: #0056b3;
}